* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    font-family: 'Lato', Arial, sans-serif;
}

/* ############################################# */
/* home page styles */

/* home page styles - all screens including small like phones */
.main-section-homepage {
  background-image: url("/static/sky-hero.png"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
    padding-top: 10%;
  text-align: center;
}

.main-section-homepage .hero-text-box {
  text-align: center;
  width: fit-content;
  background-color: white;
  margin: 0 auto;
  padding: 50px;
  border-radius: 20px;
  color: #565656;
}

.main-section-homepage a {
    text-decoration: none;
    color: inherit;
}

.main-section-homepage h1 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 50px;
}

.main-section-homepage h2 {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 30px;
}

.main-section-homepage h2 a:hover {
    text-decoration: underline;
}

/* home page styles - just big screens over 1024px - like laptops */
@media only screen and (min-width: 1024px) {
    .main-section-homepage h1 {
        font-size: 60px;
        margin-bottom: 40px;
    }

    .main-section-homepage h2 {
        font-size: 30px;
        display: inline;
        padding: 0 15px;
    }
}


/* ############################################# */
/* layout file css */

/* layout file css - all screens including small like phones */
.rainbow{
    background: linear-gradient(to right, #FD9F00, #FB1700, #9E0C81, #0171FD);
}

.strip{
    height: 10px;
}

.mobile-nav {
  overflow: hidden;
  background-color: white;
  color: black;
  position: relative;
  text-align: center;

}

.mobile-nav .bits-name {
    font-weight: 700;
    padding-bottom: 20px;
}

.mobile-nav #myLinks {
  display: none;
  height: 100vh;
}

.mobile-nav a {
  color: #565656;
  padding: 20px;
  text-decoration: none;
  font-size: 40px;
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.mobile-nav a.icon {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  padding-left: 30px;
}

.mobile-nav a:hover {
  color: black;
}

.desktop-nav {
    display: none;
}


.divider {
    position: relative;
    background: linear-gradient(90deg,hsla(0,0%,75%,0),silver,hsla(0,0%,75%,0));
    height: 1px;
    border: solid transparent;
    border-width: 0 0 1px;
}

.content-container {
    min-height: 100vh;
}

.content-container .title {
    text-align: center;
    letter-spacing: 0.7px;
}

.content-container .title h1{
    padding: 50px 0;
    font-weight:400;
    font-size: 40px;
}


/* layout file css - just big screens over 1024px - like laptops */
@media only screen and (min-width: 1024px) {
    .mobile-nav {
        display: none;
    }

    .desktop-nav {
        display: block;
    }

    .desktop-nav ul {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        list-style-type: none;
        margin: 0;
        width: 100%;
        justify-content: flex-start;
        position: relative;
    }

    .desktop-nav .nav-list-element {
        padding: 0.5rem 0.5rem 0.5rem 0;
        display: flex;
        align-items: center;
    }

    .desktop-nav .nav-list-element:last-child {
        margin-left: auto;
        padding-right: 2rem;
    }

    .desktop-nav .nav-list-element a {
        color: #565656;
        font-size: 20px;
        text-decoration: none;
        padding-left: 20px;
    }

    .desktop-nav .nav-list-element:first-child a {
        font-size: 25px;
        font-weight: 700;
    }

    .desktop-nav .nav-list-element a:hover {
        color: black;
    }

}



/* ############################################# */
/* the rest */

.rainbow-text {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    color: #4a4a4a;
    background-image: -webkit-linear-gradient(left,#ff9e00,red 35%,#b5007d 60%,#21429c 85%,#0071ff);
    background-size: 100%;
}



.main-about, .main-weather {
    text-align: center;
    color: #565656;
}

.main-about h2, .main-weather h2 {
    padding: 60px;
    line-height: 40px;
    font-weight: 400;
}

.main-weather h2 {
    padding: 60px 40px 30px 40px;
}

.main-about h3 {
    padding-bottom: 50px;
}

.main-about p {
    padding: 25px;
}

.main-about .people-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.main-about .person-card {
    width: 250px;
    box-shadow: rgba(13, 38, 76, 0.19) 0px 9px 20px;
    margin: 5px;
}

.main-about .person-card img {
    background: lightblue;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 0 0 -20px 0;
}

.main-weather input {
    height: 30px;
    width: 250px;
    padding: 5px 10px;
    text-decoration: none;
    border: black;
    background: #dedede;
    border: #a4a4a4 solid;
    border-radius: 10px;
}

.main-weather button {
    border: none;
    color: white;
    font-weight: bold;
    margin: 10px;
    font-size: 20px;
    padding: 10px 25px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 10px;
}

#weather-info {
    padding-top: 15px;
    margin-bottom: 60px;
}

.main-weather .weather-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.weather-card {
    margin: 25px;
    padding: 20px 0;
    width: 300px;
    font-size: 20px;
    box-shadow: rgba(13, 38, 76, 0.19) 0px 9px 20px;
}

.weather-card-location {
    text-align: center;
}

.weather-card-temperature {
    text-align: center;
}

.hub-body {
    text-align: center;
}

.hub-body h1 {
    padding: 60px;
}

.hub-body .slide {
    margin: 40px auto;
    padding: 50px;
    max-width: 1000px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: #565656;
}

.hub-body .slide img, .hub-body .slide video{
    width: 90%;
    height: auto;
    margin-top: 30px;
}

