<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>bits_please | Home Page</title>
    <!--    fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <!--    link with our stylesheets-->
    <link rel="stylesheet" href="{{  url_for('static', filename='styles.css') }}" >
</head>
<body class="rainbow">
    <div class="main-section-homepage">
        <h1>
            <a href="/home">Bits_please</a>
        </h1>
        <h2>
            <a href="/about">About</a>
        </h2>
        <h2>
            <a href="/weather">WeatherApp</a>
        </h2>
        <div class="main-section-homepage-logos">
            <a href="https://www.skygroup.sky/" target="_blank">
                <img src="{{  url_for('static', filename='sky-logo.png') }}" alt="Sky logo" width="75" height="auto">
            </a>
            <span>&emsp;</span>
            <a href="https://www.qa.com/" target="_blank">
                <img src="{{  url_for('static', filename='qa-logo.jpg') }}" alt="QA logo" width="65" height="auto">
            </a>
        </div>
    </div>

</body>
</html>


