<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}} page</title>
  <link rel="stylesheet" href="{{  url_for('static', filename='styles.css') }}" >
</head>
<body>

<header>
    <img src="{{  url_for('static', filename='sky-logo.png') }}" alt="Girl in a jacket" width="100" height="auto">
    <nav>
        <ul>
            <li>
                <a href="/home">Home</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
        </ul>
    </nav>
    <hr>
</header>

  <h1>{{title}} Page</h1>

  {% block body_content %} {% endblock %}
<hr>
</body>
<footer>
    <p>Sky 2023 footer</p>
</footer>
</html>