{% extends "layout.html" %}

{% block body_content %}

<h2>Welcome to weather application</h2>

<div>
	<div>
		<p>Get weather details of any city around the world.</p>
		<label for="location">Enter a city:</label>
		<input type="text" id="location" placeholder="location" required>
		<button id="get-weather-btn">Get weather</button>
		<div id="weather-info"></div>
	</div>
</div>



<h2>Our weathers</h2>
<div class="weather-cards">
	{%  for location in weather_data  %}
	<div class="weather-card">
		<div class="weather-card-location">
			<div class="center">
				<p>{{ location.name }}</p>
			</div>
		</div>
		<div class="weather-card-temperature">
			<div class="center">
				<img src="http://openweathermap.org/img/w/{{ location.weather[0].icon }}.png" alt="{{ location.weather[0].description }}">
				<p>{{ (location.main.temp - 273.15)|int }}°C - {{ location.weather[0].description }}</p>
			</div>
		</div>
	</div>
	{% endfor %}
</div>

<script>
      const apiKey = '03cf0108f3a426eceaf55fd80047b8ef';
      const getWeatherBtn = document.getElementById('get-weather-btn');
      const locationInput = document.getElementById('location');
      const weatherInfo = document.getElementById('weather-info');

      getWeatherBtn.addEventListener('click', () => {
        const location = locationInput.value;
        const url = `https://api.openweathermap.org/data/2.5/weather?q=${location}&appid=${apiKey}&units=metric`;

        fetch(url)
          .then(response => response.json())
          .then(data => {
            if (data.cod === '404') {
              weatherInfo.innerHTML = 'City not found';
            } else {
              const temperature = data.main.temp;
              const description = data.weather[0].description;
              const icon = data.weather[0].icon;

              weatherInfo.innerHTML = `
					<div class="weather-card">
						<div class="weather-card-location">
							<div class="center">
								<p>${location}</p>
							</div>
						</div>
						<div class="weather-card-temperature">
							<div class="center">
								<p><img src="http://openweathermap.org/img/w/${icon}.png" alt="${description}"> ${temperature}&deg;C - ${description}</p>
							</div>
						</div>
					</div>
              `;
            }
          })
          .catch(error => {
            console.error(error);
            weatherInfo.innerHTML = 'An error occurred';
          });
      });
    </script>
{% endblock %}
